/node_modules
/public/hot
/public/*.json
/public/js/*.js
/public/css/*.css
/public/js/*.txt
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
.idea
firebase-credentials.json
firebase-credential.json
phpunit.xml
yarn.lock
composer.lock
